@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap");

body {
  background-color: #00101d;
  font-family: Quattrocento;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.header img {
  width: 180px;
  height: auto;
}

.headerIntroduction {
  color: #feefd4;
  margin-top: 75px;
}

/* HEADER */

.CardContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards */
  margin-top: 50px;
  margin-bottom: 150px;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid; /* Border style and width */
  width: 200px;
  height: 300px;
  color: #feefd4;
}

.Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card h2 {
  margin-bottom: 0px;
}

.Card h3 {
  margin: 0;
  margin-top: 3px;
}

/* FOOTER */

#footer {
  color: #feefd4;
  border: 2px solid;
  justify-content: center;
}
