@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap");

body {
  background-color: #02101c;
  font-family: Quattrocento;
  margin: 0;
  padding: 0;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.card {
  width: auto; /* Adjusted to fit content */
  background-color: #02101c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
}

.User {
  display: flex;
}

.card img {
  max-width: 100%;
  height: 150px;
}

.headerCard {
  margin-top: 0;
  color: #eef3ff;
}

.User {
  color: #b18054;
  margin: 0 5px;
}
